@charset "UTF-8";

@media screen and max-width 1024px {
.wpap-tpl-original .wpap-link {
clear:both;
padding:6px 0;
}

.wpap-tpl-original .wpap-link a {
font-size:12px;
padding:4px;
}

.new-model .product-bar ul {
width:428px;
}
}

@media screen and max-width 345px {
.new-model .product-bar ul {
width:290px;
}

.new-model .product-bar ul li {
font-size:10px;
}
}

@media screen and max-width 767px {
.wpap-tpl-original .wpap-link {
clear:both;
padding:6px 0;
}

.wpap-tpl-original .wpap-link a {
display:inline-block;
width:50%;
padding:4px;
}

.new-model .product-bar ul {
width:345px;
}

.new-model .product-bar ul li {
font-size:12px;
}

.new-model .product-bar.has-2 ul li {
width:50.4%;
}

.new-model .product-bar.has-3 ul li {
width:33.9%;
}

.new-model .product-bar.has-4 ul li {
width:25.5%;
}

.new-model .product-bar.has-5 ul li {
width:20.5%;
}
}

body {
background-color:#eaedf2;
color:#252525;
font-family:Helvetica, Arial, YuGothic, "Yu Gothic", "Hiragino Sans", ヒラギノ角ゴシック, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
line-height:1.83;
word-break:normal;
overflow-wrap:break-word;
-webkit-font-smoothing:antialiased;
}

.entry-content table ul {
border:none;
}

.entry-content img {
display:block;
margin:0 auto;
}

#inner-content .btn {
text-decoration:none;
margin:.5em .5em 1.5em 0;
}

table img {
min-width:16vh;
}

.sc {
font-size:.92em;
}

.sc p {
margin:20px 0 0;
}

.entry-content h2 {
background:#F3A712;
border:dashed 2px #FFF;
box-shadow:0 0 0 5px #F3A712;
color:#fff;
font-size:1.3em;
line-height:1.6;
margin:2em 0 .7em;
padding:0.2em 0.5em;
}

.entry-content h4 {
border-left:solid 4px #F3A712;
font-size:1.1em !important;
margin:2em 0 .7em;
padding:0.1em 0.4em;
}

.sns-dif ul {
margin:0;
padding:7px 0 9px;
}

.home #container .header,#divheader,.cardtype__article:first-child,.cardtype__article:nth-child(2),.sidelong__article:first-child,.sidelong__article:nth-child(2) {
animation:none;
}

.footer #footer-menu a {
color:#3c3c3c;
}

#breadcrumb {
padding:1px 15px;
}

header #breadcrumb {
background:#fff;
}

header nav ol {
list-style:none;
margin:0 0 .4em !important;
}

header nav ol li a {
color:gray !important;
font-size:13px;
}

header h1.single-title {
line-height:1.5;
margin:4px 0 0;
}

header div.entry-meta {
font-size:13px;
margin:3px 0 0;
}

header.header.header--center {
box-shadow:none !important;
}

.bold {
font-weight:700;
}

.small {
font-size:0.8em;
}

.blue {
background:linear-gradient(transparent 0, #e2f0ff 0);
color:#252525;
font-weight:700;
}

.red {
background:linear-gradient(transparent 0, #FFE0DC 0);
color:#252525;
font-weight:700;
}

#toc_container,#ez-toc-container {
font-size:.87em;
}

#toc_container .toc_list li a {
text-decoration:unset;
}

#toc_container .toc_title:before,.entry-content .ez-toc-title-container:before {
display:inline-block;
position:absolute;
top:-6px;
left:-45px;
width:40px;
height:40px;
border-radius:50%;
color:#fff;
font-size:14px;
font-weight:400;
text-align:center;
line-height:40px;
}

#toc_container .toc_title,.entry-content .ez-toc-title-container {
display:inline-block;
position:relative;
font-size:18px;
font-weight:700;
margin:0 0 0 45px;
padding:0 0 5px 10px;
}

#toc_container ul,#ez-toc-container ul {
margin-top:0.6em;
}

.post .entry-content .mini {
background:initial;
border-left:initial;
border-left-style:initial;
border-left-width:initial;
color:#252525;
font-size:1em;
line-height:1.5;
margin:2em 0 .7em;
padding:0;
}

.entry-content h4.article-heading-product-detail,.entry-content h5.article-heading-product-detail {
border-left:solid 4px #F3A712;
font-size:1.1em;
margin:2em 0 .7em;
padding:0.1em 0.4em;
}

.article-box {
margin:2em 0;
padding:1.2em 1em 0;
}

.article-box p {
margin:0;
padding:0;
}

.article-box ul {
background:transparent;
border:0;
box-shadow:none;
list-style-type:none !important;
position:relative;
margin:0 0 1em;
padding:0 0 0 1.4em;
}

.article-box ul li {
line-height:1.5;
list-style-type:none !important;
padding:.5em 0 0 .5em;
}

.article-box ul li:before {
content:"\f138";
font-family:"Font Awesome 5 Free";
font-weight:900;
left:0.3em;
position:absolute;
}

.article-box ol {
background:transparent;
border:0;
box-shadow:none;
counter-reset:number;
list-style-type:none !important;
margin:0 0 1em;
padding:0 0 0 1.4em;
}

.article-box ol li {
position:relative;
line-height:1.5;
padding:.5em 0 0 .5em;
}

.article-box ol li:before {
display:inline-block;
position:absolute;
left:-20px;
top:11px;
width:17px;
height:17px;
border-radius:50%;
font-size:13px;
font-weight:700;
text-align:center;
vertical-align:middle;
line-height:17px;
content:counter(number);
counter-increment:number;
}

.article-box li:last-child {
margin-bottom:1.6em;
}

.article-box-simple {
background:#fff;
border:solid 2px rgba(68, 143, 163, 0.5);
border-radius:5px;
}

.article-box-simple ol li:before {
background:#448FA3;
color:#fff;
}

.article-box-matome {
background:#fff;
border:solid 2px rgba(240, 135, 0, 0.5);
border-radius:5px;
}

.article-box-matome ol li:before {
background:#F08700;
color:#fff;
}

.article-box-hosoku {
background:#fff;
border:solid 2px rgba(164, 169, 173, 0.5);
border-radius:5px;
font-size:0.85em;
}

.article-box-hosoku p {
margin:0 0 1em;
padding:0;
}

.article-box-hosoku .article-label {
color:#A4A9AD;
margin:0 0 0.5em;
}

.article-box-hosoku ul li:before {
color:rgba(164, 169, 173, 0.5);
}

.article-box-hosoku ol li:before {
display:inline-block;
position:absolute;
left:-16px;
top:9px;
width:15px;
height:15px;
border-radius:50%;
font-size:11px;
font-weight:700;
text-align:center;
vertical-align:middle;
line-height:15px;
content:counter(number);
counter-increment:number;
background:rgba(164, 169, 173, 0.5);
color:#fff;
}

.article-label {
display:inline-block;
font-size:1.06em;
}

.post .entry-content h3.monocil-answer {
background:initial;
border-bottom:initial;
border-left:initial;
border-left-style:initial;
border-left-width:initial;
color:#252525;
font-size:1em !important;
line-height:1.5;
margin:0.6em 0.8em;
padding:0;
}

.post .entry-content h4.monocil-answer {
background:initial;
border-left:initial;
border-left-style:initial;
border-left-width:initial;
color:#252525;
font-size:1em !important;
line-height:1.5;
margin:0.6em 0.8em;
padding:0;
}

.article-box-product {
background:#F7F0F0;
color:rgba(37, 37, 37, 0.87);
margin:2em 0;
padding:1.5em 1em;
}

.article-box-product li {
font-size:0.8em;
margin-bottom:-0.4em;
}

.wpap-tpl-detail .wpap-image {
float:inherit !important;
margin-right:0 !important;
text-align:center;
}

.wpap-tpl-detail .wpap-image img {
display:inline !important;
max-width:150px !important;
max-height:150px !important;
}

.new-model .wpap-tpl.wpap-tpl-with-detail {
border:0 !important;
}

.entry-content .product-info table {
font-size:12px;
padding:0.2rem !important;
}

.entry-content .product-info th {
font-size:12px;
padding:2px 4px !important;
}

.entry-content .product-info td {
font-size:12px;
padding:1px 3px !important;
}

.specialist-comment {
font-size:.85em;
margin-bottom:0;
}

.specialist-comment-name {
color:rgba(66, 66, 66, 0.87);
font-size:11px;
overflow:hidden;
padding:19px 0 0;
}

.specialist-comment-text {
background:#FFF;
border:2px solid #eaedf2;
border-radius:10px;
color:rgba(66, 66, 66, 0.87);
display:inline-block;
position:relative;
width:100%;
margin:15px 0;
padding:15px;
}

.specialist-comment .specialist-comment-text:before {
border:12px solid transparent;
border-bottom:13px solid #eaedf2;
left:21px;
top:-25px;
}

.specialist-comment .specialist-comment-text:after {
border:10px solid transparent;
border-bottom:12px solid #fff !important;
left:23px;
top:-20px;
}

.specialist-prof {
border:1px solid #efefef;
box-sizing:border-box;
display:table-cell;
vertical-align:top;
width:100%;
padding:15px;
}

.specialist-prof-right {
color:rgba(66, 66, 66, 0.87);
overflow:hidden;
padding:19px 0 0;
}

.specialist-prof-right .specialist-prof-title {
line-height:.85em;
font-size:.85em;
margin:0 0 .1em !important;
}

.specialist-prof-right .specialist-prof-name {
font-weight:700;
margin:0 0 .1em !important;
}

.specialist-prof-text {
border-radius:10px;
color:rgba(66, 66, 66, 0.87);
display:inline-block;
font-size:.85em;
line-height:1.4;
position:relative;
width:100%;
margin:0;
padding:10px 5px 0;
}

.entry-content .quote-source {
text-align:right;
font-size:0.8em;
color:rgba(66, 66, 66, 0.87);
padding:2px 0;
}

.wpap-tpl-with-detail .wpap-link a span:before {
font-family:"Font Awesome 5 Free" !important;
}

.entry-content .new-model {
line-height:1.7;
margin:0 0 1.2em;
}

.entry-content .new-model table {
border:1px solid #eee;
}

.new-model table tr:not(:last-child) {
border-bottom:1px solid #eee;
}

.new-model table th {
background-color:#fcfcfc;
border-right:1px solid #eee;
border-bottom:1px solid #eee;
font-size:.85em;
text-align:center;
}

.new-model table td {
border-right:1px solid #eee;
font-size:.85em;
}

.new-model .product-info .accordion {
border-top:solid 1px #eee;
}

#inner-content .new-model .hh1 {
border-bottom:solid 2px #252525;
padding:0.3em 0;
}

#inner-content p.hh {
font-size:1em;
}

.new-model .specialist-comment {
font-size:.85em;
line-height:1.4;
margin-bottom:0;
}

.new-model .specialist-comment-context {
padding:12px !important;
}

.new-model .metaslider ol.flex-control-thumbs img,#content .metaslider ol.flex-control-thumbs img {
width:auto;
}

.new-model .metaslider .caption-wrap {
opacity:.9 !important;
}

.new-model .metaslider .flexslider {
margin:0 0 20px;
}

.new-model .metaslider .flex-control-nav {
display:flex;
}

.new-model .metaslider .flex-control-nav li {
margin:0 1px;
}

.related-posts.slide.slide-list ul {
-webkit-overflow-scrolling:touch;
-webkit-flex-wrap:nowrap;
border:none;
flex-wrap:nowrap;
scroll-snap-type:x mandatory;
scroll-behavior:smooth;
overflow:auto;
padding:0;
}

.related-posts.slide.slide-list ul li {
min-width:280px;
max-width:300px;
}

.slide-list .wpap-tpl-detail .wpap-title {
font-size:12px;
}

.slide-list-product span.bold {
font-size:.85em;
}

.related-posts.slide.slide-list-product ul {
-webkit-overflow-scrolling:touch;
-webkit-flex-wrap:nowrap;
border:none;
flex-wrap:nowrap;
height:400px;
overflow:auto;
scroll-behavior:smooth;
scroll-snap-type:x mandatory;
padding:0;
}

.related-posts.slide.slide-list-product ul li {
max-width:initial;
min-width:initial;
text-align:center;
width:170px;
}

.slide-list-product .wpap-tpl-with-detail {
border:double 4px #dbdbdb !important;
font-size:.85em;
height:320px;
line-height:1.2;
width:170px;
margin:.1em 0;
padding:.6em 1em;
}

.slide-list-product .wpap-tpl-with-detail .wpap-image img {
max-height:132px;
max-width:0;
}

.slide-list-product .wpap-tpl-with-detail .wpap-title {
font-size:.85em;
font-weight:700;
margin-top:2px;
margin-bottom:5px;
}

.slide-list-product .wpap-tpl-with-detail .wpap-price {
color:#b12704;
font-size:.85em;
}

.slide-list-product .wpap-tpl-with-detail .wpap-date {
font-size:8px;
}

.slide-list-product .wpap-tpl-with-detail .wpap-link {
display:inherit;
}

.slide-list-product .wpap-tpl-with-detail .wpap-link a {
width:100%;
margin:0 0 6px;
padding:6px;
}

.slide-list-product li a:hover img {
box-shadow:none;
transform:none;
}

.slide-list-product .wpap-tpl-with-detail .wpap-link a span {
font-size:.85em;
margin:0 auto;
}

.slide-list-product .wpap-tpl-with-detail .wpap-note {
font-size:10px;
}

.new-model .wpap-tpl-with-detail.no-img {
border:none !important;
}

.wpap-tpl-with-detail.no-img {
padding:0 0 2em;
}

.wpap-tpl-original {
background-color:#fff;
display:block;
line-height:1.2;
max-width:100%;
overflow:hidden;
position:relative;
text-decoration:none;
}

.wpap-tpl-original .wpap-image img {
display:block;
height:auto;
max-width:150px;
max-height:150px;
width:auto;
}

.wpap-tpl-original .wpap-price {
color:#f33712;
font-size:14px;
font-weight:700;
line-height:0.9;
text-align:center;
}

.wpap-tpl-original .wpap-quote-source {
color:#55565a;
font-size:9px;
font-weight:initial;
}

.wpap-tpl-original .wpap-link {
-webkit-justify-content:center;
display:flex;
font-size:14px;
justify-content:center;
text-align:center;
margin:5px 0;
padding:6px 0;
}

.wpap-tpl-original .wpap-link a {
background-color:#fff;
border-radius:18px;
box-shadow:0 4px 6px rgba(0, 0, 0, 0.2);
color:#fff;
font-weight:700;
text-decoration:none;
transition:.3s ease-in-out;
margin:4px;
padding:4px;
}

.wpap-tpl-original .wpap-link a.wpap-link-amazon {
-webkit-align-items:center;
-webkit-justify-content:center;
align-items:center;
background-color:#f90;
display:flex;
font-size:15px;
justify-content:center;
max-width:225px;
text-align:center;
width:100%;
}

.wpap-tpl-original .wpap-link a.wpap-link-rakuten {
-webkit-align-items:center;
-webkit-justify-content:center;
align-items:center;
background-color:#bf0000;
display:flex;
font-size:15px;
justify-content:center;
max-width:225px;
text-align:center;
width:100%;
}

.wpap-tpl-original .wpap-link a.wpap-link-yahoo {
-webkit-align-items:center;
-webkit-justify-content:center;
align-items:center;
background-color:#ff0027;
display:flex;
font-size:13px;
line-height:1.2;
justify-content:center;
max-width:225px;
text-align:center;
width:100%;
}

.new-model .product-badge {
float:left;
margin:0 0 1em;
}

.new-model .product-badge ul {
border:0;
list-style-type:none;
margin:0;
padding:0;
}

.new-model .product-badge ul li {
background:transparent;
border:1px solid #4B4B4B;
border-radius:3px;
box-sizing:border-box;
color:#4B4B4B;
float:left;
font-size:12px;
font-weight:700;
text-align:center;
white-space:nowrap;
width:auto;
margin:2px;
padding:3px 6px;
}

.new-model .product-badge ul li:before {
font-family:"Font Awesome 5 Free";
margin-right:4px;
}

.new-model .product-badge ul li.depacos:before {
content:"\f587";
}

.new-model .product-badge ul li.oil:before {
content:"\f613";
}

.new-model .product-badge ul li.mutenka:before {
content:"\f06c";
}

.new-model .product-bar {
float:left;
margin:.1em 0 1em;
}

.new-model .product-bar ul {
border:0;
list-style-type:none;
width:590px;
margin:0;
padding:0;
}

.new-model .product-bar ul li {
background:transparent;
border:1px solid rgba(142, 144, 150, 0.3);
border-radius:1px;
box-sizing:border-box;
color:rgba(142, 144, 150, 0.3);
float:left;
text-align:center;
white-space:nowrap;
font-size:14px;
margin:-1px;
padding:3px 1px;
}

.new-model .product-bar.has-2 ul li {
width:50.2%;
}

.new-model .product-bar.has-3 ul li {
width:33.6%;
}

.new-model .product-bar.has-4 ul li {
width:25.2%;
}

.new-model .product-bar.has-5 ul li {
width:20.2%;
}

.new-model .product-bar ul li.is-1-yes,.new-model .product-bar ul li.is-2-yes,.new-model .product-bar ul li.is-3-yes,.new-model .product-bar ul li.is-4-yes,.new-model .product-bar ul li.is-5-yes {
background-color:#f78670;
border-bottom:1px solid #f78670;
border-left:1px solid #fff;
border-right:1px solid #fff;
border-top:1px solid #f78670;
color:#fff;
font-weight:700;
}

.new-model .product-bar ul li.is-1-yes + li,.new-model .product-bar ul li.is-2-yes + li,.new-model .product-bar ul li.is-3-yes + li,.new-model .product-bar ul li.is-4-yes + li,.new-model .product-bar ul li.is-5-yes + li {
border-left:1px solid #fff;
}

.new-model .table-product-marubatsu {
line-height:1.3;
table-layout:fixed;
}

.new-model table img.maru {
max-width:13px;
min-width:13px;
}

.new-model table img.batsu {
max-width:11px;
min-width:11px;
}

.new-model .table-product-eval {
line-height:1.3;
margin-bottom:1em;
}

.new-model .table-product-eval tr {
height:33px;
}

.new-model .table-product-eval .eval-s {
color:#f78670;
font-size:16px;
font-weight:700;
}

.new-model .table-product-eval .eval-a {
color:#f3a712;
font-size:15px;
font-weight:700;
}

.new-model h3.article-heading-product-title {
background:none;
border-bottom:solid 2px #252525;
border-left:none;
clear:both;
font-size:18px;
line-height:1.38;
margin:2em 0 .7em;
padding:10px 0;
}

.new-model h4.article-heading-product-detail {
border-left:none;
font-size:18px;
padding:0.1em 0;
}

.product-info .accordion {
border-top:solid 1px #c1c1c1;
padding:8px 0 0;
}

.product-info .accordion label {
border:none;
border-radius:inherit;
font-weight:400;
transition:none;
padding:0;
}

.product-info .accordion label:after {
top:-2px;
}

.product-info .accordion_input:checked + label {
background:#fff !important;
}

.comment-box {
background-image:linear-gradient(rgba(243, 167, 18, 0.08) 1px transparent 0 linear-gradient(90deg, rgba(243, 167, 18, 0.08) 1px transparent 0;
background-size:10px 10px;
position:relative;
margin:1em 0;
}

.comment-box-title {
background-color:#fdf4e2;
color:#000;
font-weight:700;
position:absolute;
top:-1.1em;
padding:.3em .6em;
}

.entry-content .comment-box ul {
border:none;
border-radius:0;
list-style-type:none;
margin:0;
padding:2em .5em 1em 2.2em;
}

.entry-content .comment-box ul li:before {
content:"\f00c";
font-family:"Font Awesome 5 Free";
font-weight:900;
left:.1em;
position:absolute;
padding:0 0 0 .6em;
}

.comment-box2 {
border:1px solid #eee;
position:relative;
margin:1em 0;
}

.comment-box2-title {
font-weight:700;
padding:.8em .8em .4em 2.8em;
}

.comment-box2-title:before {
color:#f3a712;
content:"\f086";
font-family:"Font Awesome 5 Free";
font-size:20px;
font-weight:900;
left:.2em;
position:absolute;
top:8px;
padding:0 0 0 .6em;
}

.entry-content .comment-box2 ul {
border:none;
border-radius:0;
list-style-type:none;
margin:0;
padding:0 .5em 1em 2.4em;
}

.entry-content .comment-box2 ul li:before {
color:#f3a712;
content:"\f00c";
font-family:"Font Awesome 5 Free";
font-size:13px;
font-weight:900;
left:.6em;
position:absolute;
padding:0 0 0 .6em;
}

.entry-content a,.entry-content a:not(img) {
text-decoration:underline;
}

.entry-content h3,.entry-content h3.article-heading-product-title,.entry-content h4.article-heading-product-title {
background:#fffaf4;
border-bottom:solid 2px #dadada;
border-left:solid 6px #F3A712;
clear:both;
font-size:1.2em;
line-height:1.5;
margin:2em 0 .7em;
padding:10px 4px 10px 10px;
}

.article-box-simple .article-label,.article-box-simple ul li:before {
color:#448FA3;
}

.article-box-matome .article-label,.article-box-matome ul li:before {
color:#F08700;
}

.specialist-comment-img,.specialist-prof-img {
border-radius:40px;
float:left;
height:70px;
margin-right:10px;
overflow:hidden;
width:70px;
}

.specialist-comment-img img,.specialist-prof-img img {
border:solid 2px #eaedf2 !important;
border-radius:50%;
object-fit:contain;
margin:0;
}

.specialist-comment-name p,.slide-list .wpap-tpl-detail {
margin:0;
}

.specialist-comment-text p:last-child,.specialist-prof-text p:last-child {
margin-bottom:0 !important;
}

.specialist-comment-text:before,.specialist-comment-text:after {
position:absolute;
content:'';
top:15px;
}

.new-model table th:last-child,.new-model table td:last-child {
border-right:1px solid #eee;
}

.new-model .table-product-marubatsu td,.new-model .table-product-eval td {
text-align:center;
}
